<body class="not-signed-in">
<div class="join-page container">
<h1> Welcome to our page, fill in the required fields </h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field join-field ">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field join-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field join-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field join-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field join-field">
    <%= f.label "Tell us about who you are and what you can do, but don't overdue it, you can (and should!) tune it later :)" %><br />
    <%= f.text_field :about, autofocus: true %>
  </div>

  <div class="field join-field">
    <%= f.label "Example: Carrer Bailen 11, Barcelona", id: "address-input" %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="actions join-field ">
    <%= f.submit "Sign up", class: "sign-up-submitt-button", id: "address-input-button" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>

