<body class="body-search">
<div class="wrapper">
	<div class="row">
		<div class="col-md-4 searh-div search-div-right">
			<div class="skills-wrapper">
				<h2>Cities</h2>
				<% get_all_skills_with_unique_cities.each do |skill| %>
						<p class="city-p">City: 
						<%= link_to "#{skill.capitalize}", display_path(skill) %> 
						</p>
				<% end %>
				
			</div>
			<div class="cities-wrapper">
				<h2>Top Talents</h2>
				<% get_skills_sorted_by_rating.take(6).each do |skill| %>
					<% if skill.name.nil? %>
					<p>...</p>
					<% else %>
					<p><%=skill.name.capitalize %> by <%= find_receiver_from_skill(skill).capitalize %>: <%= skill.rating %> </p>
					<% end %>
				<% end %>
				<p>...</p>
			</div>
		</div>
		<div class="col-md-4 center-search-div">
			<div class="search-div-header">	
				<h2 class="search-header">Hello, <%= current_user.name.capitalize %>, have a look at our cities and skills so far... </h2> 			
			</div>
			<hr>
			<div class="search-div-search">
				<h2>You have <strong> <%= current_user.minutes %> minutes</strong></h2>
				<%= form_tag users_path, :method => 'get' do %>
				<p>What talent?	</p>
				<%= text_field_tag :name, params[:name], class: "input-search-page" %>
				<p>Where?</p>
					<%= text_field_tag :address, params[:address], class: "input-search-page" %>
					<br>
					<%= submit_tag 'Search', class: "input-search-page input-search-page-button" %>
				<% end %>			
			</div>
		</div>
		<div class="col-md-4 searh-div right-search-area">
			<table class="table table-striped search-table">
				<tr>
					<td>ALTRUIST</td>
					<td>TALENT</td>
					<td>RATING</td>
					<td>CONTACT</td>
				</tr>
					<% if @skills.nil? %>
						<tr>
							<td class="nothing-found"> Nothing found yet </td>
						</tr>
					<% else %>
						<% @skills.sort! { |x, y| y["rating"] <=> x["rating"] }.each do |skill| %>
							<% if current_user.id != skill.user_id %>
								<tr>
									<td><%= find_receiver_from_skill(skill) %></td>
									<td><%= skill.name %></td>
									<td class="rating"><%= skill.rating %></td>
									<td><%= link_to "Contact this altruist", user_skill_path(skill.user_id,skill.id)%></td> 
								</tr>
							<% end %>
					  	<% end %>
					<% end %>
			</table>			
		</div>
	</div>
</div>
</body>

<script type="text/javascript">
$(document).ready(function(){
	event.preventDefault()
	var cities = <%= @cities.length %>
	if (cities<7 && $(".city-p").length < 7 ){
		for(var i=0; i<7-cities;i++){
			$(".skills-wrapper").append("<p class='city-p'>...</p>")
		}
	}
})

</script>






