<h2>Welcome <%= @user.name %></h2>
<p>
<h1>My account</h1>
<p>You have <strong> <%= @user.minutes %> minutes</strong>
</p>

<h1>My Inbox</h1>
<% if @transaction %>
<h2> Completed Transactions with other Altruists </h2>
<% @transaction.each do |transaction|%>
	  <% if transaction.completed  %>
	      <p>Transaction with <%= User.find(transaction.creator_id).name %> completed! </p> 
	      <%= link_to "View", user_skill_transaction_path(User.find(transaction.creator_id),Skill.find(transaction.skill_id),transaction)%>
	  <% end %>
<% end %>

<h2> Minutes I have to validate </h2>
<% @transaction.each do |transaction|%>
	  <% if transaction.completed == false %>
		  <%= User.find(transaction.creator_id).name %>
		  <%= link_to "Accept Transaction", edit_user_skill_transaction_path(transaction.user_id, transaction.skill_id,transaction) %>
	  <% end %>
  <% end %>

<h2> Altruism waiting for my opinion </h2>
<% @transaction_to_rate.each do |transaction|%>
	  <% if transaction.rated == false %>
		  <%= User.find(transaction.creator_id).name %>
		  <%= link_to "Rate Transaction", edit_user_skill_transaction_path(transaction.creator_id, transaction.skill_id,transaction) %>
	  <% end %>
  <% end %>
<br>
<% else %> 
  <p>You have no messages from other altruists yet</p>
<% end %>

<%= link_to "Edit my personal information", edit_user_path(@user) %>
<%= link_to "Find an altruits", users_path %>
<%= link_to "Change Password", edit_user_registration_path %>
<%= link_to "My Skills", user_skills_path(@user) %>


