<div class="wrapper skill-icon-area-container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="name">Welcome, <%= @user.name.capitalize %></h2>
            <p>You have <strong><%= @user.minutes %> minutes</strong></p>
        </div>
        <div class="col-md-6">
            <div class="skills-logo-area">
                <img class="skills-icon" src="/assets/skills-icon.png">
                <p><%= link_to "My Skills",user_skills_path(@user) %></p>
            </div>
        </div>
    </div>
</div>
<h1 class="dashboard">Dashboard</h1>
<div class="container show-user-container">
    <div class="row">
        <div class="col-md-6">
            <div class="show-user-row">
                <h1 class="show-user-header header-row">RECEIVED</h1>
                <div class="pending-to-accept show-drop">
                    <h1 class="toggle header-row">To Accept</h1>
                    <% @transaction_received.each do |transaction| %>
                        <% if transaction.completed == false %>
                            <p class="drop-show-p">From user:
                            <%= find_creator(transaction) %> wrote: <br>
                                <%= transaction.subject %> 
                                <%= link_to "VIEW", user_skill_transaction_path(find_creator(transaction),find_skill_from_transaction(transaction),transaction) %>
                           </p><%= link_to "Accept Transaction", edit_user_skill_transaction_path(transaction.user_id, transaction.skill_id,transaction), class: "drop-show-p" %><% end %>
                        <% end %>
                </div>
                <div class="pending-to-rate show-drop">
                    <h1 class="toggle header-row">To Rate</h1>
                    <% @transaction_created.each do |transaction| %>
                        <% if transaction.completed && transaction.rated == false %>
                            <p class="drop-show-p">
                            <%= find_receiver(transaction) %> helped you with <%= find_skill_from_transaction(transaction).name %> 
                             <%= link_to "VIEW", user_skill_transaction_path(find_creator(transaction),find_skill_from_transaction(transaction),transaction) %>
                            </p><br>
                                <%= link_to "Rate this Transaction", edit_user_skill_transaction_path(transaction.creator_id, transaction.skill_id,transaction), class: "drop-show-p" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="show-user-row">
                <h1 class="show-user-header header-row">SENT</h1>
                <div class="awaiting-to-accept show-drop">
                    <h1 class="toggle header-row">Not Accepted Yet</h1>
                    <% if @any_created_transaction_pending %>
                        <% @transaction_created.each do |transaction| %>
                            <% if !transaction.completed %>
                                <p class="drop-show-p">Waiting for:
                                <%= find_receiver(transaction) %>
                                to accept, You wrote: <br>
                                <%= transaction.subject %> 
                                <%= link_to "VIEW", user_skill_transaction_path(find_creator(transaction),find_skill_from_transaction(transaction),transaction) %>
                            </p>

                            <% end %>
                        <% end %>
                    <% end %>
                </div>
                <div class="awaiting-to-rate show-drop">
                    <h1 class="toggle header-row">Not Rated Yet</h1>
                    <% @transaction_completed.each do |transaction| %>
                        <% unless transaction.rated %>
                            <p class="drop-show-p">From altruist:
                            <%= find_creator(transaction) %>, who wrote: <br>
                            <%= transaction.subject %> 
                                <%= link_to "VIEW", user_skill_transaction_path(find_creator(transaction),find_skill_from_transaction(transaction),transaction) %>   
                            </p>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="show-user-row">
                <h1 class="show-user-header header-row toggle">CALENDAR</h1>
                 <%= month_calendar events: @meetings do |date| %>
                  <p class="date"><%= date %></p>
                  <% if find_transaction_from_date(date) %>
                    <% find_transaction_from_date(date).each do |transaction| %>
                        <% unless transaction.rated %> 
                            <% if current_user.id == transaction.user_id %> 
                            <img class= "calendar-icon" src="/assets/help-received.png"> <br>
                                <p class="as-altruist">
                                    Help: <%= find_creator(transaction) %><br>
                                </p>
                                <% end %>
                            <% if current_user.id == transaction.creator_id %>
                            <img class= "calendar-icon" src="/assets/help-sent.png"> <br>
                                <p class="from-altruist">
                                    From: <%= find_receiver(transaction) %>
                                </p>
                            <% end %>
                        <% end %>
                    <% end %>
                  <% end %>
                 <% end %>
                <h1 class="show-user-header header-row">STATS</h1>
                <div class="as-altruist show-drop">
                    <h1 class="toggle header-row">As Altruist</h1>
                    <% find_transactions_where_user_is_receiver(current_user.id).all.each do |transaction| %>                                     
                        <p class="drop-show-p">Altruist I helped:
                        <%= find_creator(transaction) %><%= link_to "VIEW", user_skill_transaction_path(find_creator(transaction),find_skill_from_transaction(transaction),transaction) %></p>  
                    <% end %>
                </div>
                <div class="from-altruist show-drop">
                    <h1 class="toggle header-row">From Altruist</h1>
                    <% find_transactions_where_user_is_creator(current_user.id).all.each do |transaction| %>
                        <% if transaction.rated %> 
                        <p class="drop-show-p">I was helped by <%= find_receiver(transaction)%> with <%= find_skill_from_transaction(transaction).name %>

                        <%= link_to "VIEW", user_skill_transaction_path(find_creator(transaction),find_skill_from_transaction(transaction),transaction) %></p>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>