<h2>Welcome <%= @user.name %></h2>
<p>
<h1>Dashboard</h1>
<p>You have <strong> <%= @user.minutes %> minutes</strong>
</p>

<h1> My Iniciated Transactions <h2>

<% @transaction_created.each do |transaction| %>
	<p>With user: <%= transaction.user_id %></p>
	<p>Status: 
		<% if transaction.completed %>
			<%= "Accepted" %>
		<% else %>
			<%= "Not Accepted yet" %>
		<% end %> 
	</p>
<% end %>

<h1> My received transactions </h1>

<% @transaction_received.each do |transaction| %>
	<p>From user: <%= transaction.creator_id %></p>
	<% if transaction.completed == false %>
		  	<p><%= link_to "Accept Transaction", edit_user_skill_transaction_path(transaction.user_id, transaction.skill_id,transaction) %>
		    </p>
	  <% end %>
<% end %>

<h1> My accepted transactions </h1>

<% @transaction_completed.each do |transaction| %>
	<p>With user: <%= transaction.creator_id %></p>
	<% if transaction.completed == true %>
		  	<p>Transaction ID: <%= transaction.id  %>
		    </p>
		    <br>
	  <% end %>
<% end %>

<h1> Transactions waiting for my rating </h1>
<% @transaction_created.each do |transaction| %>
  <% if transaction.completed && transaction.rated == false %>
	<p>With user: <%= transaction.creator_id %></p>
		  	<p>
		  		<%= link_to "Rate this Transaction", edit_user_skill_transaction_path(transaction.creator_id, transaction.skill_id,transaction) %>
		    </p>
		    <br>
  <% end %>
<% end %>

<h1> My Rated Transactions </h1>
<% @transaction_created.each do |transaction| %>
  <% if transaction.rated %>
	<p>With user: <%= transaction.creator_id %>. Your rating: <%= transaction.rating %></p>
  <% end %>
<% end %>




<%= link_to "Edit my personal information", edit_user_path(@user) %>
<%= link_to "Find an altruits", users_path %>
<%= link_to "Change Password", edit_user_registration_path %>
<%= link_to "My Skills", user_skills_path(@user) %>


