<h2>Welcome <%= @user.name.capitalize %></h2>

<h1>Dashboard</h1>
<p>You have <strong> <%= @user.minutes %> minutes</strong>
</p>

<h1> My Iniciated Transactions </h1>

<% if @any_created_transaction_pending %>
	<% @transaction_created.each do |transaction| %>
			<% if !transaction.completed %>
			<p>With user: <%= User.find(transaction.user_id).name.capitalize %>, 
			  ID: <%= transaction.user_id %></p>
			<p>Status: 
				<%= "Not Accepted yet, ID: #{transaction.id}" %>
			<% end %> 
		</p>
	<% end %>
<% else %>
	<p>Not any yet</p>
<% end %>


<h1> My received transactions (to be accepted) </h1>

	<% @transaction_received.each do |transaction| %>
	<% if transaction.completed == false %>
		<p>From user: <%= User.find(transaction.creator_id).name.capitalize %>, ID: <%= transaction.creator_id %></p>
			  	<p><%= link_to "Accept Transaction", edit_user_skill_transaction_path(transaction.user_id, transaction.skill_id,transaction) %>
			    </p>
		  <% end %>
	<% end %>

<% if @transaction_received.any?{|transaction| transaction.completed} %>
	<p>Not any yet</p>
<% end %>

<h1> Waiting for others rating </h1>

<% @transaction_completed.each do |transaction| %>
	<p>With user: <%= User.find(transaction.creator_id).name.capitalize %>, ID:<%= transaction.creator_id %></p>
	<% if transaction.completed == true %>
		  	<p>Transaction ID: <%= transaction.id  %>
		    </p>
		    <br>
	  <% end %>
<% end %>

<h1> Transactions waiting for my rating </h1>
<% @transaction_created.each do |transaction| %>
  <% if transaction.completed && transaction.rated == false %>
	<p>With user: <%= User.find(transaction.creator_id).name.capitalize %>, ID: <%= transaction.creator_id %></p>
		  	<p>
		  		<%= link_to "Rate this Transaction", edit_user_skill_transaction_path(transaction.creator_id, transaction.skill_id,transaction) %>
		    </p>
		    <br>
  <% end %>
<% end %>


<h1> My Rated Transactions </h1>
<% @transaction_created.each do |transaction| %>
  <% if transaction.rated %>
	<p>With user: <%= User.find(transaction.user_id).name.capitalize %>, ID: <%= transaction.user_id %>, Your rating: <%= transaction.rating %></p>
  <% end %>
<% end %>




<p><%= link_to "Edit my personal information", edit_user_path(@user) %></p>
<p><%= link_to "Find an altruits", users_path %></p>
<p><%= link_to "Change Password", edit_user_registration_path %></p>
<p><%= link_to "My Skills", user_skills_path(@user) %></p>


