<h2>Welcome <%= @user.name %></h2>
<p>
<h1>My account</h1>
<p>You have <strong> <%= @user.minutes %> minutes</strong>
</p>

<h1>My Inbox</h1>
<% if @transaction %>
<h2> Completed Transactions </h2>
<% @transaction.each do |transaction|%>
	  <% if transaction.completed  %>
	      <p>Transaction with <%= User.find(transaction.creator_id).name %> completed! </p> 
	  <% end %>
<% end %>

<h2> Transactions to accept </h2>
<% @transaction.each do |transaction|%>
	  <% if transaction.completed == false %>
		  <%= User.find(transaction.creator_id).name %>
		  <%= link_to "Accept Transaction", edit_user_skill_transaction_path(transaction.user_id, transaction.skill_id,transaction) %>
	  <% end %>
  <% end %>

<h2> Waiting for your rating </h2>
<% @transaction.each do |transaction|%>
	  <% if Skill.find(transaction.skill_id).rated == false %>
		  <%= User.find(transaction.creator_id).name %>
		  <%= link_to "Rate Transaction", edit_user_skill_transaction_path(transaction.user_id, transaction.skill_id,transaction) %>
	  <% end %>
  <% end %>


<% else %> 
  <p>You have no messages from other altruists yet</p>
<% end %>

<ul>
	<% if @user.address.blank? %>
		<li>Address: <%= "Hey #{@user.name}, this fiels looks empty, click on edit and fill it up!" %></li>
	<% else %>
	    <li>Address: <%= @user.address %></li> 
	<% end  %>
	<% if @user.phone.blank? %>
		<li>Phone: <%=  "Hey #{@user.name}, this fiels looks empty, click on edit and fill it up!" %></li>
	<% else %>
	    <li>Phone: <%= @user.phone %></li> 
	<% end  %>
	<li><%= link_to "Edit my personal information", edit_user_path(@user) %></li>
</ul>

<%= link_to "Find an altruits", users_path %>
<%= link_to "Change Password", edit_user_registration_path %>
<%= link_to "My Skills", user_skills_path(@user) %>


