<h1>Edit Skills</h1>
<%= form_for [@user,@skill] do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<%= f.submit "Save changes" %>
<% end %>
<%= link_to "Back", :back %>

