
<h1>Welcome <%=@user.name %>, these are your skills</h1>
<% if @skills.empty? %>
	<p>Ups, you have no skills yet! </p>
<% end %>
<% @skills.each do |skill| %>
<p>Skill: <%= skill.name %></p>
<p>Description: <%= skill.description %></p>
	<% if skill.rating == 0 %>
		<p>Rating: <%= "No ratings yet" %></p>
	<% else %>
		<p>Rating: <%= skill.rating %>
	<% end %>
	<p><%= link_to "Edit Skill", edit_user_skill_path(skill.user_id, skill.id) %></p>
	<p><%= link_to 'Delete', user_skill_path(skill.user_id, skill.id), :method => :delete, data: {confirm: "Are you sure?"} %></p>
	<br>
<% end %>
<%= link_to "Add skill", new_user_skill_path(@user)%>
<%= link_to "Back to dashboard", user_path(@user) %>
