<h1>Skill for <%= @user.name %> </h1>
<% if @skill.blank? %>
  <%= "You haven't added any skill yet" %>
<% else %>
	<p>Name: <%= @skill.name %></p>
	<p>Description <%= @skill.description %></p>
	<p>User Rating on this Skill: <%= @skill.rating %></p>
<% end %>
<h2>Can my skill help you?</h2>
<%= mail_to @user.email do %>
  <p><strong>Email me:</strong> <span><%= @user.email %></span></p>
<% end %>


<h2>We already talked? </h2>

<%= form_for [@user,@skill,@transaction] do |f| %>
	<%= f.label "Minutes" %>
	<%= f.number_field :minutes %>
	<%= f.submit "Send!" %>
<% end %>

<br>
<h1>Your transactions with <%= @user.name %> </h1>
<% if @user.transactions.present? %> 
   <h1>Done deals!</h1>
   <% @user.transactions.each do |transaction| %>
     <% if transaction.completed %>
	   <p> Transaction: <%= transaction.id %> </p>
	   <p> Accepted: <%= transaction.completed %> </p>
	   <p> Minutes: <%= transaction.minutes %> </p>
     <% end %>
   <% end %>
   <h1>Not done yet</h1>
   <% @user.transactions.each do |transaction| %>
  	    <% if transaction.completed == false %>
		    <p> Transaction: <%= transaction.id %> </p>
		    <p> Accepted: <%= transaction.completed %> </p>
		    <p> Minutes: <%= transaction.minutes %> </p>
        <% end %>
   <% end %>
<% else %> 
    <p><%= "You haven't messaged this altruist yet!" %></p>
<% end %>



<%= link_to "Back", :back %>

