<% if @transaction.completed == false %>
	<h1> You are about to validate some minutes, the altruist <%= User.find(@transaction.creator_id).name %> 
	<br> is requesting <%= @transaction.minutes %> minutes from your time. 
		<%= form_for [@user,@skill,@transaction] do |f| %>
			<%= f.submit "Accept" %>
		<% end %>
<% elsif @transaction.rated == false %>
	<h1> You are about to rate <%= User.find(@transaction.user_id).name %>
	<br> Remember to give a rating from 0 to 10 depending on how happy you are! 
	</h1>
		<%= form_for [@user,@skill,@transaction] do |f| %>
			<%= f.label :rating %>
			<%= f.number_field :rating, class: "rating-input" %>
			<%= f.submit "Accept", id:"accepted", class: "rating-input accepted" %>
		<% end %>
<% else %>
  <h1> No validations awaiting </h1>
<% end %>
<%= link_to "Back to dashboard", user_path(current_user) %>

