<!DOCTYPE html>
<html>
<head>
  <title>Altruist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  
</head>
<body>
  <div class="navbar navbar-custom">
    <div class="navbar-inner navbar-custom">
        <ul class="nav navbar-custom navbar-ul" id="nav">
            <li>
              <% if user_signed_in? %>
                <%= link_to 'Home', user_path(current_user), class: "home" %>
              <% else %>
                <%= link_to 'Log In', new_user_session_path, class: "log-in" %> 
                <li><a id="how-it-works" href="#first-step">How It Works</a></li>
              <%end %>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to "New Search", users_path %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
          </li>
        <% end %>
        <li class="logo-nav">
          <h1 class="navbar-h1"> Altruist </h1>  
                <img class="navbar-img" src="/assets/sharing.jpg" >
          </li>
        </ul>
      </div> 
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> error-messages">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              Attention: <%= value %>
            </li>
          </ul>
       </div>
    <% end %>
  </div>

  
<div class="modal fade js-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
        <h2>Welcome</h2>
      </div>
      <div class="modal-body" id="top_bar">
        <h2>Please log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "login-label" %><br />
    <%= f.email_field :email, autofocus: true, class: "login-label" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "login-label" %><br />
    <%= f.password_field :password, autocomplete: "off" , class: "login-label"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember-checkbox">
      <%= f.check_box :remember_me, class: "checkbox" %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions login-button">
    <%= f.submit "Log in" %>
  </div>
<% end %>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

<%= render "devise/shared/links" %>
       
      
      </div>
    </div>
  </div>
</div>

<% unless user_signed_in? %>
<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/handy.jpg">
          <div class="container">
            <div class="carousel-caption carousel-div label">
              <h1 class="carousel-h1">Need some help at home?</h1>
              <p class="lead">Johny can help you get something fixed at your home. He's really good at handymanship. It will only cost you
                some minutes once you sign up to our altruist project, totally free, of course!
              </p>
              <%= link_to "Join", new_registration_path(resource_name), class: "btn btn-large btn-primary sign-up-button" %>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/tutor.jpg" alt="">
          <div class="container">
            <div class="carousel-caption carousel-div label">
              <h1 class="carousel-h1">Looking for a tutor?</h1>
              <p class="lead">Philip can help your kid rock in math or English. He'll be happy to be paid in in minutes from your minutes bank that you can use for payments with Altruist.</p>
              <%= link_to "Join", new_registration_path(resource_name), class: "btn btn-large btn-primary sign-up-button" %>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/mechanic.jpg" alt="">
          <div class="container">
            <div class="carousel-caption carousel-div label">
              <h1 class="carousel-h1">Maybe your car needs an oil change?</h1>
              <p class="lead">James will be happy to get some minutes by fixing your car. He is one of the many people that are using Altruist helping others by  sharing something he can do with others.</p>
              <%= link_to "Join", new_registration_path(resource_name), class: "btn btn-large btn-primary sign-up-button" %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    </div><!-- carousel -->

    <div class="container instructions-container">
      <div class="row inner-instructions">
        <div class="span">
          <img id="first-step" src="/assets/one.png">
          <h2>Share your Talent</h2>
          <p>Do you play the piano? Can teach how to dance? Or maybe how to cook emapanadas? Great, there are lots of people looking for talented people like you, thanks to our platform you can exhange your time with others.</p>
          
        </div>
        <div class="span">

       <img src="/assets/two.png">
          <h2>Where you'll share</h2>
          <p>You will have to create a profile, explain what you can do, where you operate and the times of the day that suit you better. You'll earn time as you help other altruists. The time you spend helping them will be added to your balance with comments and reviews.</p>
          
        </div>
        <div class="span">
           <img src="/assets/three.png">
          <h2>Become an Altruist</h2>
          <p>To start enjoying this idea, please sign up and follow the registration steps. The more you participate the more minutes you will have. Invite as many people as possible so more can enjoy our awesome project! </p>
         
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- jumbotron -->
 <div class="container jumbotron-container">
    <div class="jumbotron join-jumbotron">
        <h1>Welcome!</h1>
        <p>Click on the button to join.</p>
        <p>
            <%= link_to "Join", new_registration_path(resource_name), class: "btn btn-success btn-lg join-btn " %>
        </p>
    </div>
</div>

      <hr class="featurette-divider">
      <footer>
        <p class="pull-right"><a id="back-to-top" href="how-it-works">Back to top</a></p>
        <p>© 2015 My Company, Inc. · Privacy · Terms</p>
      </footer>
    </div>


<% end %>







<%= yield %>
</body>
</html>